{% extends 'base.html' %}

{% block content %}
  <h1>Bet Even or Odd</h1>
  <form action="{{ url_for('play') }}" method="POST">
    <label for="total_money">Total Money:</label>
    <input type="number" id="total_money" name="total_money" required>

    <label for="bet_money">Bet Money:</label>
    <input type="number" id="bet_money" name="bet_money" required>

    <label for="total_plays">Total Plays:</label>
    <input type="number" id="total_plays" name="total_plays" required>

    <label for="input_string">Even or Odd:</label>
    <select id="input_string" name="input_string" required>
      <option value="">--Please choose an option--</option>
      <option value="even">Even</option>
      <option value="odd">Odd</option>
    </select>

    <button type="submit">Submit</button>
  </form>
{% endblock %}
